/* body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: whitesmoke;
} */
 form{
    height: 75%;
    background: white;
    display: inline-block;
    width: 75%;
    text-align: center;
    padding: 15px 15px 20px 15px; 
    border-radius: 10px ;
    
 }
.contact-sec{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: aliceblue;
    /* padding: 10px; */
    padding-bottom: 20px;
}
input{
    margin: 10px;
}
.contact-sec h1{
    padding: 15px 0 0 0;
}
.form-info{
    align-content: center;
    justify-items: center;
    margin: 10px 40px;
    /* padding: 10px; */
    background: rgb(255, 255, 255 / 53%);
    height: 60%;
}

.name , .contactinfo, .msg{
    padding: 0px;
    margin: 0px;
}

input[type="text"] ,
input[type="email"],
input[type="tel"]  {
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 40px;
    width: 240px;
    padding: 7px;
    font-weight: 400;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus
{
    outline: 0;
    box-shadow: 2px #b9d3fa;
    border: 1px solid #86b7fe
}
textarea{
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    /* width: auto;
    max-width: 500px;
    min-width: 495px; */
    min-height: 60px;
    max-height: 70px;
    padding: 5px;
    outline: 0;
    box-shadow: 2px #b9d3fa;
    border: 1px solid #000000
}
#btn-submit{
    background-color: #a9a9f4;
    color: white;
    width: 200px;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    padding: 0 30px;
}
#btn-submit:hover{
    background-color: #8b8bf8;
}

@media screen and (max-width: 600px) {
    .contact-sec {
        flex-direction: column;
        /* padding: 10px; */
    }
    form {
        width: 80%;
        /* height: -63%; */
        margin: 15px;
        
    }
    .form-info {
        margin: 10px 0;
    }
    input[type="text"] ,
    input[type="email"],
    input[type="tel"]  {
        text-align: center;
        margin: 5px;
    }
    textarea {
        margin: 10px;
        max-width: 90%;
        min-width: 90%;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    form {
        width: 80%;
        margin: 10px;
    }
    textarea {
        max-width: 80%;
        min-width: 80%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    form {
        width: 70%;
        /* padding: 2px; */
        margin: 20px;
    }
    textarea {
        max-width: 65%;
        min-width: 65%;
    }

}