
body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgb(82, 29, 29); */
    height: 100%;
    width: auto;
}

.frontPage {
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 10px; */
    align-content: center;
    font-family: serif;
    flex-direction: row;
    background-color: aliceblue;
}

.info {
    padding: 0 4%;
    align-content: center;
}

.privInfo h4 {
    color: rgb(105, 141, 214);
    font-size: 25px;
}

.privInfo h1 {
    font-size: 40px;
}

button {
    cursor: pointer;
    width: 100px;
    border-radius: 3px;
    outline: 0;
    margin-right: 0.4rem;
}

#btn-one {
    background-color: black;
    color: white;
    padding: 10px;
    outline: black;
}

#btn-two {
    background-color: white;
    color: black;
    padding: 10px;
    outline: white;
}

/* #btn-one:hover{
    background-color: rgb(216, 215, 215);
    color: black;
}
#btn-two:hover{
    background-color: rgb(118, 118, 118);
    color: white;
} */

.frontImage {
    align-content: center;
}

#frontPageUser, #pfpbg {
    /* padding: 2%; */
    height: 350px;
    width: 350px;
}




@media screen and (max-width: 600px) {
    .frontPage {
        flex-direction: column;
        /* padding: 10px; */
        align-items: center;
        
    }
    .privInfo{
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }
    .privInfo h4 {
        font-size: 14px;
    }
    .privInfo h1 {
        font-size: 24px;
    }
    #btn-one, #btn-two {
        width: 90%;
        margin: 5px 0;
    }
   
    #frontPageUser, #pfpbg {
        height: 250px;
        width: 250px;
    }
    .button{
        width: 200px;
        gap: 10px;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .frontPage {
        flex-direction: row;
        align-items: center;
        /* padding: 20px; */
    }
    .privInfo h4 {
        font-size: 22px;
    }
    .privInfo h1 {
        font-size: 36px;
    }
    #btn-one, #btn-two {
        width: 150px;
    }
    #frontPageUser, #pfpbg {
        height: 300px;
        width: 300px;
    }
    .button{
        justify-content: left;
    }
    span{
        justify-content: left;
        /* text-align: center; */
    }
}


@media screen and (min-width: 1025px) 
/* and (max-width: 1440px)  */
{
    .frontPage {
        flex-direction: row;
        align-items: center;
        /* padding: 1%; */
        margin: 0;
    }
    .privInfo h4 {
        font-size: 30px;
    }
    .privInfo h1 {
        font-size: 45px;
    }
    #btn-one, #btn-two {
        width: 180px;
    }
    span{
        justify-content: left;
        text-align: center;
    }
    #frontPageUser, #pfpbg {
        height: 350px;
        width: 350px;
        padding: 0;
    }
}

