.service{
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: serif;
    /* background-color: rgb(160, 200, 236); */
    background-color: aliceblue;
}
.box-container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    align-content: center;
    height: 150px;
    width: 200px;
    gap: 20px;
    /* border: 1px solid black; */
    border-radius: 3px;
    padding: 12px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border: 1px solid #a6a6c2;
    box-shadow: 3px 3px rgb(173, 201, 226);
}
.box p{
    padding: 0.1rem;
}
.box:hover{
    /* color: rgb(82, 114, 140); */
    transition: width 3s,height 2s ;
    width: 200px;
    color: black;
    background-color: rgb(182, 194, 220);
    box-shadow: 0px 0px;
}
#logo{
    display: block;
    font-size: 25px;
    color: rgb(69, 115, 207);
    font-weight: 800;
}
/* #logo:hover{
    color: white
} */


@media screen and (max-width: 600px) {
    .box-container {
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-items: center;
    }
    .box {
        width: 80%;
        margin-bottom: 10px;
        height: auto;
    }
    #logo {
        font-size: 20px;
    }
    .box p {
        font-size: 14px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .box-container {
        gap: 20px;
        padding: 20px;
        /* justify-items: center; */
    }
    .box {
        width: 45%;
        height: auto;
    }
    #logo {
        font-size: 22px;
    }
    .box p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1025px) {
    .box-container {
        gap: 20px;
        padding: 30px;
    }
    .box {
        width: 20%;
        height: auto;
    }
    #logo {
        font-size: 25px;
    }
    .box p {
        font-size: 18px;
    }
}
